.calendar {
  height: 75vh;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px;
}
.vuecal--month-view .vuecal__cell {
  height: 80px;
}

.vuecal--month-view .vuecal__cell-content {
  justify-content: flex-start;
  height: 100%;
  align-items: flex-end;
}

.vuecal--month-view .vuecal__cell-date {
  padding: 4px;
}
.vuecal--month-view .vuecal__no-event {
  display: none;
}
.outcome {
  background-color: rgba(255, 94, 94, 0.5) !important;
  color: white !important;
}
.income {
  background-color: rgba(91, 247, 91, 0.5) !important;
  // color: white !important;
}
.depense {
  background-color: rgb(89, 202, 255) !important;
  // color: white !important;
}
