.backgroundThumbnail {
  width: 150px;
  border-radius: 2px;
  box-shadow: 0 15px 22px 2px rgba(172, 172, 172, 0.5);
  transition: width 1s;
  margin: 5px;
  cursor: pointer;
  border: solid 1px $dark-color;
}
.backgroundThumbnail:hover {
  border: solid 1px $primary-color;
  box-shadow: 0 15px 22px 2px rgba(69, 145, 168, 0.5);
}
.backgroundThumbnailActive {
  border: solid 1px $secondary-color;
  box-shadow: 0 15px 22px 2px rgba(95, 179, 92, 0.5);
}
